<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap -->

    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <nav class="navbar sticky-top">
        <div class="container d-flex justify-content-end">
          <a class="navbar-brand " href="#">
            <img class="snavcont" src="assets/person-circle.svg" alt="Bootstrap" width="40" height="34">
          </a>
        </div>
    </nav>

    <div class="d-flex flex-row justify-content-between">
        <div class="container-fluid startnav">
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column snavcont">
                    <a class="icon-link" href="#">
                        <img src="assets/bookmarks-fill.svg" alt="bookmark">
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid startnav fixnav">
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column row-gap-5 mt-5">
                    <a class="icon-link" href="#">
                        <img src="assets/bookmarks-fill.svg" alt="bookmark" class="snavcont">
                    </a>
                    <a class="icon-link" href="#">
                        <img src="assets/clock-history.svg" alt="bookmark" class="snavcont">
                    </a>
                    <a class="icon-link" href="#">
                        <img src="assets/cart-fill.svg" alt="bookmark" class="snavcont">
                    </a>
                </div>
            </div>
        </div>
        <div class="flex-fill d-flex justify-content-center">
            <div class="d-flex flex-column flex-fill">
                <div class="d-flex justify-content-between bar">
                    <input type="email" class="ms-5 rounded-3" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <a href="">
                        <img class="me-5 stockicn" src="assets/box-arrow-in-down.svg" alt="Bootstrap">
                    </a>
                </div>
                <div class="d-flex justify-content-center bar">
                    <div class="linee rounded"></div>
                </div>
                <div class="container rowcont d-flex justify-content-center">
                    <div class="row d-flex justify-content-center">
                        <div class="d-flex col-sm flex-column align-items-center">
                            <img class="prodimg" src="assets/download (1).jpg" alt="">
                            <span class="">Kopi Susu</span>
                            <button type="button" class="btn text-light">Harga Disini!</button>
                        </div>
                        <div class="d-flex col-sm flex-column align-items-center">
                            <img class="prodimg" src="assets/download (1).jpg" alt="">
                            <span class="">Kopi Susu</span>
                            <button type="button" class="btn text-light">Harga Disini!</button>
                        </div>
                        <div class="d-flex col-sm flex-column align-items-center">
                            <img class="prodimg" src="assets/download (1).jpg" alt="">
                            <span class="">Kopi Susu</span>
                            <button type="button" class="btn text-light">Harga Disini!</button>
                        </div>
                        <div class="d-flex col-sm flex-column align-items-center">
                            <img class="prodimg" src="assets/download (1).jpg" alt="">
                            <span class="">Kopi Susu</span>
                            <button type="button" class="btn text-light">Harga Disini!</button>
                        </div>
                        <div class="d-flex col-sm flex-column align-items-center">
                            <img class="prodimg" src="assets/download (1).jpg" alt="">
                            <span class="">Kopi Susu</span>
                            <button type="button" class="btn text-light">Harga Disini!</button>
                        </div>
                        <div class="d-flex col-sm flex-column align-items-center">
                            <img class="prodimg" src="assets/download (1).jpg" alt="">
                            <span class="">Kopi Susu</span>
                            <button type="button" class="btn text-light">Harga Disini!</button>
                        </div>
                        <div class="d-flex col-sm flex-column align-items-center">
                            <img class="prodimg" src="assets/download (1).jpg" alt="">
                            <span class="">Kopi Susu</span>
                            <button type="button" class="btn text-light">Harga Disini!</button>
                        </div>
                        <div class="d-flex col-sm flex-column align-items-center">
                            <img class="prodimg" src="assets/download (1).jpg" alt="">
                            <span class="">Kopi Susu</span>
                            <button type="button" class="btn text-light">Harga Disini!</button>
                        </div>
                        <div class="d-flex col-sm flex-column align-items-center">
                            <img class="prodimg" src="assets/download (1).jpg" alt="">
                            <span class="">Kopi Susu</span>
                            <button type="button" class="btn text-light">Harga Disini!</button>
                        </div>
                        <div class="d-flex col-sm flex-column align-items-center">
                            <img class="prodimg" src="assets/download (1).jpg" alt="">
                            <span class="">Kopi Susu</span>
                            <button type="button" class="btn text-light">Harga Disini!</button>
                        </div>
                        <div class="d-flex col-sm flex-column align-items-center">
                            <img class="prodimg" src="assets/download (1).jpg" alt="">
                            <span class="">Kopi Susu</span>
                            <button type="button" class="btn text-light">Harga Disini!</button>
                        </div>
                        <div class="d-flex col-sm flex-column align-items-center">
                            <img class="prodimg" src="assets/download (1).jpg" alt="">
                            <span class="">Kopi Susu</span>
                            <button type="button" class="btn text-light">Harga Disini!</button>
                        </div>
                        
                        
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Booststrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>